<div class="container">
    <form class="card-panel white lighten-3" (ngSubmit)="addStudent();">
        <h4 style="text-align: center">Cadastro</h4>
        <div class="form-group">
            <label for="firstname">Nome</label>
            <input id="name" type="text" class="form-control"
                   required name="name" [(ngModel)]="model.name">
        </div>


        <div class="form-group">
            <label for="cpf">CPF</label>
            <input id="cpf" type="text" class="form-control"
                   required name="cpf" [(ngModel)]="model.cpf">
        </div>

        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" class="form-control"
                   required name="email" [(ngModel)]="model.email">
        </div>

        <div class="form-group">
            <label for="birth">Data de nascimento</label>
            <input id="birth" type="date" class="form-control"
                   required name="pass" [(ngModel)]="model.birth">
        </div>


       <div class="form-group">
           <label for="course">Curso</label>
           <select class="browser-default" name="course" [(ngModel)]="model.course">
                  <option *ngFor="let cou of courses" [value]="cou">{{cou}}</option>
           </select>
       </div>



       <div class="row">
           <div class="col s12" style="text-align: center"><br /><br />
               <span class="flow-text">
                   <button
                    class="waves-effect waves-light btn teal {{btnRegisterColor}}">
                       Register</button>
               </span>
           </div>
       </div>
    </form>

</div>
