<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<!--The content below is only a placeholder and can be replaced.-->

<main class="container">
    <div class="card-panel teal white-text lighten-2" style="text-align: center;"
         (click)="btnHeroClick();">
        <h1>Student Management Service</h1>
        <h4>University of Heroes</h4>
    </div>
</main>


<div class="app-container">
  <router-outlet></router-outlet>
</div>
