<div class="container">

    <div class="card-panel teal lighten-3 white-text"
         style="text-align: center ">
        <h3>Olá, administrador.</h3>
        <div class="row">
            <button class="btn-large mysize teal lighten-2 white-text"
                 (click)="routeToSearch();">
                <h5>Procurar estudantes</h5>
            </button>
        </div>

        <div class="row">
            <button class="btn-large mysize teal lighten-2 white-text"
                 style="text-align: center" (click)="routeToList();">
                 <h5>Listar estudantes</h5>
            </button>
        </div>

        <div class="row">
            <button class="btn-large mysize teal lighten-2 white-text"
                 style="text-align: center" (click)="routeToRegister();">
                 <h5>Cadastrar estudantes</h5>
            </button>
        </div>
    </div>

</div>
